.container {
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 15px;
}

.flex {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}

.link {
	color: rgba(90, 150, 255, 1);
	transition: var(--tr);
}

.link:active {
	color: rgba(255, 100, 155, 1);
}

.link:hover {
	text-decoration: underline;
	color: rgba(50, 100, 155, 1);
}

.link:visited {
	color: rgba(150, 50, 200, 1);
}