*, *::after, *::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}

html {
	scroll-behavior: smooth;
}

html, body {
	height: 100%;
}

a {
  background-color: transparent;
	text-decoration: none;
	color: inherit;
}

article, aside, footer, header, main, section {
	display: block;
}

button, input, select, textarea {
	font-family: inherit;
}

button, select {
	background-color: transparent;
}

input, textarea, select {
	outline: none;
}

img {
	display: inline-block;
	max-width: 100%;
	object-fit: cover;
	object-position: center;
}

ul {
  list-style-type: none;
}