:root {
	--pr1: rgba(255, 100, 100, 1);
	--pr2: rgba(200, 45, 45, 1);
	--sc1: rgba(100, 155, 255, 1);
	--sc2: rgba(45, 100, 200, 1);
	--f: rgba(50, 50, 50, 1);
	--t1: rgba(0, 0, 0, 0.8);
	--t2: rgba(255, 255, 255, 0.8);
	--h1: rgba(0, 0, 0, 1);
	--h2: rgba(255, 255, 255, 1);
	--t-wt: 300;
	--b-wt: 500;
	--h-wt: 600;
	--s: 0px 0px 4px 1px rgba(0, 0, 0, 0.5);
	--tr: all 0.3s ease;
}